<div class="row ng-scope">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">CMPE281</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Account
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Profile</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Help</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">LogOut</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Sensors</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Billing</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="page-header">Dashboard</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr class = "info">
                            <th>#</th>
                            <th>Name</th>
                            <th>Latitude</th>
                            <th>longitude</th>
                            <th>Status</th>
                            <th>Created Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class = "success">
                            <td>1</td>
                            <td><a href="sensor.html">San Jose Sensor</a></td>
                            <td>32</td>
                            <td>-128</td>
                            <td>Active</td>
                            <td>1st April, 2016</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h3 class="sub-header">Sensor Map</h3>
                <div id="googleMap" style="width:1100px;height:800px;"></div>
            </div>
        </div>
    </div>
</div>